header {
    background-color: darkblue;
    padding: 40px 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color: aliceblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
  }

  .navigation {
    float: left;
  }

  li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

main {
  flex-wrap: wrap;
}

.main-section img {
  height: 500px;
  margin-left: 100px;
  border-radius: 20px;
}

.intro-section {
  display: flex;
}

.about-me {
  font-size: 70px;
}

.about-me-text {
  font-size: 20px;
  line-height: 1.5;
}

article {
  flex-wrap: wrap;
  width: 100%;
}

.project-cards h2 {
  color: darkblue;
  
}

.project-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 25%;
  margin-left: 25%;
  border-left: 20px solid black;

}